NODE_ENV=localhost
# DATABASE_USER=capeon
# DATABASE_HOST=free-tier8.aws-ap-southeast-1.cockroachlabs.cloud
# DATABASE_PORT=26257
# DATABASE_NAME=spited-quacker-2374.defaultdb
# DATABASE_PASSWORD=Lewn_tDMuj6yKzkTDSc3Vw
# DATABASE_SSL=true
# DATABASE_SYNCHRONIZE=true
DATABASE_USER=admin
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_PASSWORD=admin
DATABASE_SSL=false
DATABASE_SYNCHRONIZE=true
JWT_SECRET="1dd137c9-623d-4f0e-885d-7037de45ad32"
JWT_EXPIRATION_TIME=3600
JWT_ISSUER=
MONGODB_USERNAME=capeon
MONGODB_PASSWORD=f4GK6fCKcBI80O18
MONGODB_DATABASE=capeon_db
